 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/bohrerboerse.png" alt="Logo" width="30" height="30">
    </a>

    <!-- Toggler/Collapsibe Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link <%= activePage === 'equipment' ? 'active bg-primary text-white' : '' %>" href="/equipment">Artikel</a>
        <a class="nav-link <%= activePage === 'borrows' ? 'active bg-primary text-white' : '' %>" href="/borrows">Ausgeliehenes</a>
        <a class="nav-link <%= activePage === 'users' ? 'active bg-primary text-white' : '' %>" href="/users">Benutzer</a>
      </div>
    </div>
  </div>
</nav>