<h1>Neuen Gegenstand hinzufügen</h1>
<form action="/equipment" method="POST">
    <label for="number">Artikelnummer:</label><br>
    <input type="text" id="articlenumber" name="articlenumber" required>
    
    <label for="title">Titel:</label>
    <input type="text" id="title" name="title" required>

    <label for="discription">Beschreibung:</label>
    <input type="text" id="pic" name="pic" required>

    <label for="count">Anzahl:</label>
    <input type="text" id="count" name="count" required>

    <label for="userid">Benutzer ID:</label>
    <input type="text" id="userid" name="userid" required>
    
    <input type="submit" value="Hinzufügen">
</form>